pytorch-lightning>=1.2.10
datasets>=1.6.2
scikit-learn==0.24.2
hydra-core
omegaconf
hydra_colorlog
onnxruntime
fastapi
uvicorn
boto3
fsspec==2023.6.0   # Pin a compatible version of fsspec
dvc[s3]==2.58.2    # Pin DVC to a stable version
tqdm>=4.63.1,<5.0.0  # Allow a range compatible with all packages